@use "/styles/variables" as variable;

.post {
    border: 1px solid variable.$border-color;
    border-left: none;
    border-right: none;
    padding: 15px;
    border-radius: 7px;
    height: 100%;
}

.title {
    display: flex;
}

.post_number {
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 3rem;
    display: block;
    min-width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 10px;
}
