@use "/styles/variables" as variable;

.link {
    cursor: pointer;
    font-weight: 600;
    line-height: 110%;
    border-radius: 20px;
    color: variable.$text-main-color;
    font-size: 17px;
    transition: color 0.5s ease-in-out;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.withBG {
    background-color: variable.$link-bg;
    padding: 10px 20px;
    color: variable.$text-white-color;

    &:hover {
        background-color: variable.$link-bg-hover;
    }
}

.withBorder {
    padding: 10px 20px;
    border: 1px solid variable.$link-bg-hover;
    color: variable.$link-bg-hover;
}

.inMenu {
    padding: 8px 0;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.textColor {
    color: variable.$link-bg;
}
