@mixin paragraph-style {
    @media (min-width: 640px) {
        line-height: 20px;
        font-size: 16px;
        letter-spacing: 0.3px;
        font-weight: 500;
    }

    @media (min-width: 768px) {
        line-height: 23px;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-weight: 500;
    }
}

@mixin thin-heding {
    @media (min-width: 640px) {
        color: #0f172a;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 8px;
    }

    @media (min-width: 768px) {
        color: #0f172a;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
    }
}
